<!DOCTYPE HTML>

<html>
	<head>
		<title>Triof</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>

        <style>
            #wrapper:before{
                content: normal;
            }
        </style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
        <div id="wrapper">
            <!-- Main -->
            <section id="main">
                <header>
                    <h1>Merci !</h1>
                </header>
            </section>
        </div>

		<!-- Scripts -->
        <script>
            if ('addEventListener' in window) {
                window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
                document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
            }

            function back(){
                window.location.href= "/"
            }

            setTimeout(back, 5000)
        </script>

	</body>
</html>