<!DOCTYPE HTML>

<html>
	<head>
		<title>Triof</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>

        <style>
            #wrapper:before{
                content: normal;
            }
        </style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>														
							<p>Please select the type of waste</p>
						</header>


						<form method="post" action="/confirmation">
							<div class="fields">


								<div class="field">

                                  <input
                                      type="radio"
                                      name="type"
                                      id="bouteille"

                                      value="Bouteille plastique"
                                  >

                                  <label for="bouteille">Bouteille plastique</label>



                                  <input
                                      type="radio"
                                      name="type"
                                      id="gobelet"
                                      value="gobelet"

                                  >
                                  <label for="gobelet">Gobelet en plastique</label>



                                  <input
                                      type="radio"
                                      name="type"
                                      id="couvert"

                                      value="couvert"
                                  >
                                  <label for="couvert">Couverts en plastique</label>


								</div>


                                <div class="field">
                                    <input type="submit" value="confirm"/>
                                </div>
							</div>

						</form>

					</section>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>
