.multicolor {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);  
  -webkit-background-clip: text;
  -moz-background-clip: text; 
  background-clip: text;
  color: transparent;
  text-align: center;
}

